.account-details {
  background-color: #fff;
  margin: 5rem 7rem;
}
.account-details h1 {
  color: #333;
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: 700;
}
.account-details h5 {
  color: #6366F1;
  margin-bottom: 0.5rem;
}
.account-details .form-content {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}
.account-details .form-content #streetname2, .account-details .form-content #streetname1 {
  grid-column: 1/-1;
}
.account-details .form-content #streetname1 {
  margin-top: 30px;
}
.account-details .form-content #form-biography {
  grid-column: 1/-1;
}
.account-details .form-content #form-biography textarea {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  border-radius: 4px;
  border: 1px solid #B4B7C9;
}
.account-details .form-content label {
  margin-bottom: 5px;
}
.account-details .form-content .input-group {
  margin-bottom: 1rem;
}
.account-details .form-content .input-group label {
  font-weight: bold;
  display: block;
}
.account-details .form-content .input-group .validation-message {
  color: red;
}
.account-details .form-content .input-group input, .account-details .form-content .input-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px !important;
}
.account-details .button-box {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}
.account-details .button-box button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.account-details .button-box button.btn-gray {
  background-color: #EFF2FC;
  color: black;
}
.account-details .button-box button.btn-gray:hover {
  background-color: black;
  transition: 0.2s;
  color: white;
}
.account-details .button-box button.btn-theme {
  background-color: #6366F1;
  color: white;
  margin-left: 10px;
}
.account-details .button-box button.btn-theme:hover {
  background-color: black;
  transition: 0.2s;
}
