@using AccountUI.Client.Components
@using Microsoft.AspNetCore.Components.Authorization
<header>
    <div class="container">
        <NavLink id="logo" href="/home"><img src="./images/silicon-logo.svg" alt=""></NavLink>
        <div id="menu">
            <nav>
                <NavLink class="menuLinks" href="/home">Overview</NavLink>
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="menuLinks" href="/courses">Courses</NavLink>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView>
                    <NotAuthorized>
                        <NavLink class="menuLinks" href="/home/#features">Features</NavLink>
                    </NotAuthorized>
                </AuthorizeView>
                <NavLink class="menuLinks" href="/home/#footer">Contact</NavLink>
            </nav>
        </div>
        <div class="account-buttons">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="btn-theme" href="/account-details"><i class="fa-solid fa-user"></i><span>My Profile</span></NavLink>
                </Authorized>
            </AuthorizeView>
            <LoginLogout/>
            
        </div>
    </div>
</header>




@code {

}
