header {
  font-family: "Manrope", sans-serif;
  padding: 15px;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto auto;
  gap: 40px;
}
header .container .account-buttons {
  display: flex;
}
header .container #menu a {
  color: #33354D;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;
  transition: 0.3s ease;
}
header .container #menu a:hover {
  color: #6366F1;
  transition: 0.3s ease;
}
