#intergrate {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
  min-height: 500px;
}
#intergrate .container {
  align-items: center;
  justify-content: center;
  text-align: center;
}
#intergrate .container h1 {
  font-size: 40px;
  font-weight: 900;
  color: #0B0F19;
}
#intergrate .container p {
  color: #9397AD;
  font-size: 1rem;
  margin-top: 20px;
}
#intergrate .container .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 100px;
  gap: 60px;
}
#intergrate .container .content .content-box {
  text-align: left;
  padding: 25px 10px 0px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
}
#intergrate .container .content .content-box img {
  margin-bottom: 15px;
}
#intergrate .container .content .content-box p {
  font-size: 1rem;
}
#intergrate .container .content .content-box:hover {
  box-shadow: 0px 3px 20px rgb(225, 225, 225);
}
