<section id="light-dark">
    <div class="dark-content"></div>
    <div class="light-content"></div>
    <div class="container">
        <img src="images/laptop.svg" alt="laptop">
        <div class="center-text">
            <span class="white-text">Switch Between </span>

            <span class="black-text">Light & Dark Mode</span>
        </div>
    </div>
</section>

@code {

}
