<section id="newsletter">
    <div class="container">
        <h1>Don't Want to Miss Anything?</h1>
        <img src="./images/blue-line.svg" alt="blue-line">
        <div class="content">
            <h2>Sign up for<br>Newsletter</h2>
            
        </div>
        <form method="post" id="subscribeForm">
            <div class="sign-up-content">
                <div class="sign-up-box">
                    <div class="sign-up">
                        <i class="fa-regular fa-envelope"></i>
                        <input id="email" type="email" placeholder="This is just for the design, go to /notifications" class="email-input">
                    </div>
                </div>
                <button type="button" class="btnSubscribe">Subscribe *</button>
            </div>
        </form>

        <div class="policy-text">
            <p id="blue-star">*</p>
            <p>Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>.</p>
        </div>
        <div class="manage-subscription">
            <p>Manage your subscriptions <a href="/notifications">here</a></p>
        </div>
    </div>
</section>

@code {

}
