#newsletter {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F3F6FF;
}
#newsletter .container {
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
}
#newsletter .container img {
  position: absolute;
  right: 520px;
  top: 0px;
}
#newsletter .container .policy-text {
  margin-top: 20px;
  display: flex;
}
#newsletter .container .policy-text #blue-star {
  color: #6366F1;
}
#newsletter .container h1 {
  font-size: 40px;
  font-weight: 900;
}
#newsletter .container #subscribeForm .sign-up-content {
  display: flex;
  margin-top: 50px;
}
#newsletter .container #subscribeForm .sign-up-content .sign-up-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #B4B7C9;
  background-color: #FFF;
  width: 80%;
}
#newsletter .container #subscribeForm .sign-up-content .sign-up-box .sign-up {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  color: #565973;
}
#newsletter .container #subscribeForm .sign-up-content .sign-up-box .sign-up i {
  margin-left: 15px;
  margin-right: 10px;
  color: #565973;
}
#newsletter .container #subscribeForm .sign-up-content .sign-up-box .sign-up .email-input {
  border: none;
  outline: none;
  width: 100%;
}
#newsletter .container #subscribeForm .sign-up-content .btnSubscribe {
  background-color: #6366F1;
  color: white;
  border: none;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  margin-left: 30px;
}
#newsletter .container #subscribeForm .sign-up-content .btnSubscribe:hover {
  background-color: black;
  transition: 0.3s ease;
}
#newsletter .container #subscribeForm .errorMessage {
  color: red;
  margin-top: 10px;
  font-weight: 700;
}
#newsletter .container #subscribeForm .successMessage {
  color: green;
  margin-top: 10px;
  font-weight: 700;
}
#newsletter .container .content {
  display: flex;
  margin-top: 40px;
}
#newsletter .container .content h2 {
  font-size: 30px;
  font-weight: 900;
}
#newsletter .container .content .checkbox-content {
  margin-left: 20px;
}
#newsletter .container .content .checkbox-content .check-box-text {
  margin-left: 50px;
}
#newsletter .container .content .checkbox-content .check-box-text label {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1rem;
}
