@using AccountUI.Client.Components

<div class="account-menu">
    <div class="user-profile text-center mb-4">
        <img src="images/avatar-1.svg" alt="User Image" class="rounded-circle" style="width: 120px; height: 120px;" />
        <h4>John Doe</h4>
        <p>example@gmail.com</p>
    </div>
    <nav class="nav">
        <NavLink class="navLink" href="/account-details">
            <i class="fa-solid fa-gear"></i>
            Account Details
        </NavLink>
        <NavLink class="navLink">
            <i class="fa-solid fa-lock"></i>
            Security
        </NavLink>
        <NavLink class="navLink" href="/notifications">
            <i class="fa-solid fa-bell"></i>
            Notifications
        </NavLink>
        <NavLink class="navLink">
            <i class="fa-solid fa-comment"></i>
            Messages
        </NavLink>
        <NavLink class="navLink">
            <i class="fa-solid fa-bookmark"></i>
            Saved Items
        </NavLink>
        <Logout />
    </nav>
</div>



@code {


}
