.account-notifications {
    background-color: #fff;
    margin: 5rem 7rem;


    h1 {
        color: #333;
        margin-bottom: 1rem;
        font-size: 30px;
        font-weight: 700;
    }

    .form-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;

        .input-group {
            display: flex;
            max-width: 400px;

            label {
                font-weight: 700;
                margin-bottom: 5px;
            }


            .form-control {
                width: 100%;
                padding: 0.5rem;
                font-size: 1rem;
                border: 1px solid #ced4da;
                border-radius: 5px !important;
            }

            .subscribeNewsletter {
                font-weight: 700;
            }
        }

        .switch-group {
            margin-top: 20px;

        }
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 25px;
        margin-right: 10px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;

            &:before {
                position: absolute;
                content: "";
                height: 17px;
                width: 17px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                transition: .4s;
                border-radius: 50%;
            }
        }

        input:checked + .slider {
            background-color: #22C55E;
            box-shadow: 0 0 1px #4CAF50, 3px 3px 5px rgba(76, 175, 80, 0.6);

            &:before {
                transform: translateX(20px);
            }
        }
    }


    .button-box {
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;


            &.btn-gray {
                background-color: #EFF2FC;
                color: black;


                &:hover {
                    background-color: black;
                    transition: 0.2s;
                    color: white;
                }
            }

            &.btn-theme {
                background-color: #6366F1;
                color: white;
                margin-left: 10px;

                &:hover {
                    background-color: black;
                    transition: 0.2s;
                }
            }
        }
    }
}
