.account-notifications {
  background-color: #fff;
  margin: 5rem 7rem;
}
.account-notifications h1 {
  color: #333;
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: 700;
}
.account-notifications .form-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.account-notifications .form-content .input-group {
  display: flex;
  max-width: 400px;
}
.account-notifications .form-content .input-group label {
  font-weight: 700;
  margin-bottom: 5px;
}
.account-notifications .form-content .input-group .form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px !important;
}
.account-notifications .form-content .input-group .subscribeNewsletter {
  font-weight: 700;
}
.account-notifications .form-content .switch-group {
  margin-top: 20px;
}
.account-notifications .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  margin-right: 10px;
}
.account-notifications .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.account-notifications .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.account-notifications .switch .slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.account-notifications .switch input:checked + .slider {
  background-color: #22C55E;
  box-shadow: 0 0 1px #4CAF50, 3px 3px 5px rgba(76, 175, 80, 0.6);
}
.account-notifications .switch input:checked + .slider:before {
  transform: translateX(20px);
}
.account-notifications .button-box {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}
.account-notifications .button-box button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.account-notifications .button-box button.btn-gray {
  background-color: #EFF2FC;
  color: black;
}
.account-notifications .button-box button.btn-gray:hover {
  background-color: black;
  transition: 0.2s;
  color: white;
}
.account-notifications .button-box button.btn-theme {
  background-color: #6366F1;
  color: white;
  margin-left: 10px;
}
.account-notifications .button-box button.btn-theme:hover {
  background-color: black;
  transition: 0.2s;
}
